<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">

    <title>Your Shop Name</title>

     <!-- Core -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="assets/css/products.css" rel="stylesheet">
  </head>

  <body><div id="shopApp">

    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-start" style="">
          <router-link to="/" class="navbar-brand d-flex align-items-center">
            <!-- <span v-if="i18n.locale=='bg'">[ Името на магазина ]</span> -->
            <span _v-else>Your Shop Name</span>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </router-link>
          <span class="text-white h5 m-0">
            <strong v-if="i18n.locale=='bg'">0988 66 55 44</strong>
            <strong v-else>+359 988 66 55 44</strong>
          </span>
          <span>
            <select class="btn-link btn-sm text-white" style="margin-left:2.5rem" @change.prevent.stop="setLocale(event.target.value);return false">
              <option value="en" style="color:#333">EN</option>
              <option value="bg" style="color:#333" :selected="i18n.locale=='bg'">BG</option>
            </select>
            <select class="btn-link btn-sm text-white" style="margin-left:0.5rem" @change.stop.prevent="$store.dispatch('setCurrency',event.target.value)">
              <option value="lv" style="color:#333">Лв</option>
              <option value="eur" style="color:#333" :selected="$store.getters.currency=='eur'">EUR</option>
              <option value="usd" style="color:#333" :selected="$store.getters.currency=='usd'">USD</option>
            </select>
          </span>

          <span class="">
            <button id="cart-toggle" class="navbar-toggler text-nowrap" type="button" data-toggle="collapse"
                data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 19.25 19.25" style="enable-background:new 0 0 19.25 19.25;" xml:space="preserve" width="512px" height="512px">
                  <g><g id="Layer_1_107_"><g><path d="M19.006,2.97c-0.191-0.219-0.466-0.345-0.756-0.345H4.431L4.236,1.461     C4.156,0.979,3.739,0.625,3.25,0.625H1c-0.553,0-1,0.447-1,1s0.447,1,1,1h1.403l1.86,11.164c0.008,0.045,0.031,0.082,0.045,0.124     c0.016,0.053,0.029,0.103,0.054,0.151c0.032,0.066,0.075,0.122,0.12,0.179c0.031,0.039,0.059,0.078,0.095,0.112     c0.058,0.054,0.125,0.092,0.193,0.13c0.038,0.021,0.071,0.049,0.112,0.065c0.116,0.047,0.238,0.075,0.367,0.075     c0.001,0,11.001,0,11.001,0c0.553,0,1-0.447,1-1s-0.447-1-1-1H6.097l-0.166-1H17.25c0.498,0,0.92-0.366,0.99-0.858l1-7     C19.281,3.479,19.195,3.188,19.006,2.97z M17.097,4.625l-0.285,2H13.25v-2H17.097z M12.25,4.625v2h-3v-2H12.25z M12.25,7.625v2     h-3v-2H12.25z M8.25,4.625v2h-3c-0.053,0-0.101,0.015-0.148,0.03l-0.338-2.03H8.25z M5.264,7.625H8.25v2H5.597L5.264,7.625z      M13.25,9.625v-2h3.418l-0.285,2H13.25z" fill="#FFFFFF"/>
                    <circle cx="6.75" cy="17.125" r="1.5" fill="#FFFFFF"/>
                    <circle cx="15.75" cy="17.125" r="1.5" fill="#FFFFFF"/>
                  </g></g></g>
                </svg>
                <span :style="{display:$store.getters.productsCartCount > 0 ? 'inline-block':'none'}"
                    class="badge badge-danger" style="display:none;position:absolute;margin-top:-5px;margin-left:-5px">
                  {{ $store.getters.productsCartCount }}</span>
            </button>
          </span>

        </div>
      </div>

      <div class="collapse bg-dark" id="navbarHeader">
        <br>
        <div class="container">
          <shopping-cart></shopping-cart>

          <div v-if="this.$store.getters.productsCartItems.length > 0" class="my-0 row col-md-10" style="padding:0 1em" c=" col-md-3 col-lg-4">
              <router-link to="/Checkout" class="btn btn-primary my-1 col-md-5 offset-md-0 _btn-lg"
                data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader">{{ $t('Checkout') }}</router-link>

                <a href="#" class="btn btn-outline-light my-1 col-md-3 offset-md-1 _btn-lg"
                  data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader">{{ $t('Close') }}</a>

                <div class="row"><br>&nbsp;</div>
          </div>
          <div class="h4 text-right" style="color:#fff"> <br>
              <span style="white-space:nowrap"><small class="text-muted">{{ $t('Tel.') }}:</small> 0988 66 55 44;</span>
              &nbsp;&nbsp;
              <span style="white-space:nowrap">
                <small class="text-muted">Email:</small> <a href="mailto:skotarov@gmail.com"class="text-white" >skotarov@gmail.com</a></span>
          </div>

        </div>
        <br>
      </div>
    </header>

    <router-view>
      <h2 class="h2 text-center" style="color:#aaa;font-weight:300;font-size:1.5em;"><br><br>Loading...<br><br><br><br></h2>
    </router-view>






    <footer class="bg-dark">
      <div class="container">
        <p class="float-right">
          <a href="#" class="text-white">{{ $t('Back to top') }}</a>
          <br><br>
          <select class="btn btn-outline-light" style="width:70px" onchange="setLocale($(this).val())">
            <option value="en">EN</option><option value="bg" :selected="i18n.locale=='bg'">BG</option>
          </select>
          &nbsp;&nbsp;&nbsp;
          <br>
          <select class="btn my-1 btn-outline-light" style="width:70px" @change.prevent="$store.dispatch('setCurrency',event.target.value)">
            <option value="lv">Лв</option>
            <option value="eur" :selected="$store.getters.currency=='eur'">EUR</option>
            <option value="usd" :selected="$store.getters.currency=='usd'">USD</option>
          </select>
        </p>
        <div class="row">
          <div class="col-sm-8 col-md-7 _py-4">
            <h4 class="text-white">{{ $t('About') }}</h4>
            <p class="text-muted">{{ $t('Add some information about the Shop below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.') }}</p>
          </div>
          <div class="col-sm-4 offset-md-1 _py-4">
            <h4 class="text-white">{{ $t('Contacts') }}</h4>
            <ul class="list-unstyled">
              <li><a href="https://twitter.com" class="text-white" target="twitter">Twitter</a></li>
              <li><a href="https://facebook.com" class="text-white" target="facebook">Facebook</a></li>
              <li><a href="mailto:skotarov@gmail.com" class="text-white" >Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  </div><!-- //#shpApp -->
    <!--
    ================================================== -->
    <!-- Core -->
    <script src="https://cdn.jsdelivr.net/combine/npm/vue@2.5.16,npm/http-vue-loader@1.3.4,npm/vue-router@3.0.1/dist/vue-router.min.js,npm/vuex@3.0.1/dist/vuex.min.js,npm/vue-i18n@7.6.0/dist/vue-i18n.min.js,npm/babel-polyfill@latest/dist/polyfill.min.js,npm/jquery@3.3.1/dist/jquery.slim.min.js,npm/popper.js@latest/dist/umd/popper.min.js,npm/bootstrap@4.1.1/dist/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.min.js"></script>

    <script src="modules/productsStore.js"></script>
    <script src="modules/productsCartStore.js"></script>
    <script src="modules/currencyStore.js"></script>
    <script src="modules/translatorStore.js"></script>
    <script src="i18n.js"></script>
    <script>
      /** router */
        let router = new VueRouter({ linkActiveClass:"font-weight-bold", routes:  [
            //{ path: "/",            redirect:"/Home"},
            { path: "*",              component: httpVueLoader("./components/undefined")},
            { path: "(/Home)?",       component: httpVueLoader("./components/home") },
            { path: "/Checkout",      component: httpVueLoader("./components/checkout")},
            { path: "/Product/:id---:name", component: httpVueLoader("./components/product")}

            //{ path: "/Category/:category", component: httpVueLoader("./modules/category") },
            //{ path: "/Search/:term?", component: httpVueLoader("./modules/search")},
            //{ path: "/:year(\\d+)/:month(\\d+)?/:day(\\d+)?", component:httpVueLoader("./modules/history") },
            //{ path: "/:date(\\d+\\-\\d+\\-\\d+)/:title", component:httpVueLoader("./modules/article")},
          ],
          scrollBehavior() {
            return { x: 0, y: 0 };
          }
        })
        Vue.use(VueRouter)

        /** store */
        let store = new Vuex.Store({ modules:{ productsStore, productsCartStore, currencyStore, translatorStore }})
        store.dispatch("init")

        /** i18n */
        Vue.use(VueI18n);
        let i18n = new VueI18n({
          locale: localStorage.getItem("lang") || navigator.language || navigator.userLanguage,
          messages: translations,
          ttt: function(s){
            alert(s)
          }
        })
        function setLocale(l){ i18n.locale = l; localStorage.setItem("lang",l) }

        Vue.component("thumb-item", httpVueLoader("./components/thumbItem.vue"))


      /** app */
        new Vue({
            el: '#shopApp',
            router,
            i18n,
            store,
            updated(){
              Holder.addTheme('thumb', {
                bg: '#55595c',
                fg: '#eceeef',
                text: 'Thumbnail'
              });
            },
            components:{
              shoppingCart:httpVueLoader("./components/shoppingCart.vue"),
              orderForm: httpVueLoader("./components/orderForm.vue")
            }
        })
    </script>
  </body>
</html>
